.cal-container{
  border: 1px solid gray;
  width: 70%;
  margin: auto;
  height: 1000px;
  overflow:scroll;
}
.chunk{
  margin: 0 !important;
  border-bottom: 1px solid gray;  
  
  height: 40px;
  width: 990px;
}
.block {
  display: block;
}

.head{
  width: 50px;
  border-right: 1px solid gray;
}

.underline{ 
}
.cal-title{
  display: inline-block;
  margin: 0 !important;
}
h2.cal-title.date{
  margin-left: 30%;
  margin-right: 30%;
  height: 40px;
}
.cal-table{
  width: 100%;
  border-collapse: collapse;
}