<div>
  <div class="cal-nav-outer">
    <ul class="cal-nav">
      <li class=" btn btn-default">Back</li>
      <li class=" btn btn-default">Forward</li>
    </ul>
    <h2 class="cal-nav"> September 25th 2013 </h2>      
    <ul class="cal-nav">
      <li class=" btn btn-default">Month</li>
      <li class=" btn btn-default">Week</li>
      <li class=" btn btn-default">Day</li>
    </ul>    
  </div>
  <div class="cal-container">
    <table class="cal-table">
      <tr ng-repeat="halfHour in hours" class="chunk" id="hour{{halfHour}}">
        <th class="head ">{{halfHour}}</th>
        <td></td>
      </tr>
    </table>
  </div>
</div>
