.cal-container{
  border: 1px solid gray;
  width: 70%;
  margin: auto;
  height: 1000px;
  overflow:scroll;
}
.cal-nav-outer{
  border: 1px solid gray;
  width: 70%;
  margin: auto;
}
.cal-nav{
  display: inline-block;
}
.chunk{
  margin: 0 !important;
  border-bottom: 1px solid gray;  
  
  height: 40px;
  width: 990px;
}
.block {
  display: block;
}

.head{
  width: 50px;
  border-right: 1px solid gray;
}

.cal-table{
  width: 100%;
  border-collapse: collapse;
}


/* Boostrap like
*/
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}